#section1 {
  margin: 4rem 0;
}

.textreveal_wrapper {
  height: 200vh;
  width: 80%;
  max-width: 1040px;
  margin: 0 auto;
}

.textreveal_container {
  position: sticky;
  top: 0;
  left: 0;
  padding: 6rem 2rem;
  height: 50%;
  max-width: 60rem;
  display: flex;
  align-items: center;
}

.textreveal_container p {
  color: white;
  font-weight: 600;
  font-size: 2.5rem;
}

p span {
  opacity: 0.4;
  transition: opacity 0.2s linear;
}

@media (min-width: 1040px) {
  .textreveal_wrapper {
    width: 95%;
  }
  .textreveal_container {
    justify-content: left;
  }
  .textreveal_container p {
    font-size: 3.5rem;
  }
}

@media (min-width: 1280px) {
  .textreveal_container p {
    font-size: 3.875rem;
  }
}
